# https://flake8.pycqa.org

[flake8]
enable-extensions = TC, TC1
extend-ignore =
    # Missing type annotation for self in method
    ANN101
    # Missing type annotation for cls in classmethod
    ANN102
max-line-length = 120
type-checking-strict = true
