### project

### python

__pycache__/

# poetry
dist/

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# coverage
htmlcov/
*.cover
*.py,cover
.coverage*
coverage.lcov
coverage.xml

### docs

# mkdocs
site/

### ide

# jetbrains
.idea/

# vscode
.vscode/
