# https://pre-commit.com

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-yaml
        args: [ --unsafe ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-check
        args: [ --fix, --exit-non-zero-on-fix, --config=pyproject.toml ]
      - id: ruff-format
        args: [ --config=pyproject.toml ]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.17
    hooks:
      - id: uv-lock

  - repo: https://github.com/pre-commit/pre-commit
    rev: v4.5.0
    hooks:
      - id: validate_manifest
